Package: com.zzz.iotracker
Name: IOTracker for Whisper
Depends: mobilesubstrate
Version: 0.6
Architecture: iphoneos-arm
Description: An Whisper App Tracker for iOS.
Maintainer: Zhou Hao
Author: Zhou Hao
Section: Tweaks
